mixin totalRating(entertainment, production, vocals, value)
  - var rating = ((entertainment + production + vocals + value) /4)
  +outputRating(rating)
  
mixin outputRating(rating)
  - for (let i = 1; i <= rating; i++)
    i.fa.fa-star
  - for (let i = rating; i < 5; i++)
    i.fa.fa-star-o