
<!-- Toolbar -->
<div class="cardsignup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 mx-auto">
        <h1>About</h1>
        <p>Have you ever gone to a concert and been dissapointed? Well, that feeling will never happen again with ConcertBay. ConcertBay was established in 2019 in order to warn eager concert-goers of terrible experiences. Review the artist, venue along with the concerts production, vocals, value for money and entertainment. ConcertBay also allows an additional comment for any other criticisms the user has!</p></div>
      </div>
    </div>
  </div>