extends layout

block content
  
  form(action='/' method='post')
  .cardMusic
    .wrap
      h4 Please enter concert details
      br
      label
        | Artist Name
        span.req *
      input(type='email' required='' autocomplete='off')
    .wrap
      br
      label
        | Venue Name
        span.req *
      input(type='password' required='' autocomplete='off')
      br
       
