doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topnav
      h3 ConcertBay
      a.active(href='/') Log In
      a(href='/signup') Sign Up
      a(href='/addReview') Add Review
      a(href='/listReviews') Concert Reviews
      a(href='/about') About
               
    .container
      block content
      footer
        .row
          .col-12
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    block scripts
    script(src='/build/runtime-es5.edb2fcf2778e7bf1d426.js')
    script(src='/build/polyfills-es5.6696c533341b95a3d617.js')
    script(src='/build/main-es5.6394b429c38288b958af.js')

