extends layout

block content

  form(action='/' method='post')
  .cardsignup
    .wrap
      h1= title
      p Welcome to #{title}
      label
        | Name:
        span.req *
      input(type='name' required='' autocomplete='off')
      br 
      br
      label
        | Email Address
        span.req *
      input(type='email' required='' autocomplete='off')
      br
      br
      label
        | Username
        span.req *
      input(type='email' required='' autocomplete='off')
      br
      br
      label
        | Password
        span.req *
      input(type='password' required='' autocomplete='off')
      br
      br
      label
        | Confirm Password
        span.req *
      input(type='password' required='' autocomplete='off')
      br
      button.button.button-block Sign up
      p.signup
      a(href='/') Have an account already? Login.
      
